<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Name</key>
			<string>تغيير اللغة</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>الائتمان</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>عملياتك</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>بلغ عن مشكلة</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>تسجيل دخول</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>الشروط والأحكام</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>المساعدة</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>سياسة الخصوصية</string>
			<key>isForLoginedUser</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
